.html
{
  background: #FFFFFF url("../images/background.jpg") no-repeat center center scroll;
  background-size: cover !important;
}

#page
{
  z-index: 1;
  width: 800px;
  min-height: 290px;
  padding-bottom: 210px;
  margin-left: auto;
  margin-right: auto;
}

#menuu243
{
  z-index: 2;
  width: 200px;
  top: 100px;
  left: 50%;
  margin-left: -400px;
}

#u244
{
  width: 200px;
}

#u247
{
  width: 200px;
  min-height: 17px;
  padding-bottom: 41px;
  margin-right: -10000px;
}

#u247:hover
{
  margin: 0px -10000px 0px 0px;
}

#u249-4
{
  width: 200px;
  min-height: 17px;
  margin-right: -10000px;
  top: 20px;
}

#u247:hover #u249-4
{
  padding-top: 0px;
  padding-bottom: 0px;
  min-height: 17px;
  margin: 0px -10000px 0px 0px;
}

#u285
{
  width: 200px;
  min-height: 17px;
  padding-bottom: 41px;
  margin-right: -10000px;
}

#u286-4
{
  width: 200px;
  min-height: 17px;
  margin-right: -10000px;
  top: 20px;
}

#u247.MuseMenuActive #u249-4,#u285:hover #u286-4
{
  padding-top: 0px;
  padding-bottom: 0px;
  min-height: 17px;
  margin: 0px -10000px 0px 0px;
}

#u271
{
  width: 200px;
  min-height: 17px;
  padding-bottom: 41px;
  margin-right: -10000px;
}

#u274-4
{
  width: 200px;
  min-height: 17px;
  margin-right: -10000px;
  top: 20px;
}

#u285.MuseMenuActive #u286-4,#u271:hover #u274-4
{
  padding-top: 0px;
  padding-bottom: 0px;
  min-height: 17px;
  margin: 0px -10000px 0px 0px;
}

#u278
{
  width: 200px;
  min-height: 17px;
  padding-bottom: 42px;
  margin-right: -10000px;
}

#u280-4
{
  width: 200px;
  min-height: 17px;
  margin-right: -10000px;
  top: 21px;
}

#u271.MuseMenuActive #u274-4,#u278:hover #u280-4
{
  padding-top: 0px;
  padding-bottom: 0px;
  min-height: 17px;
  margin: 0px -10000px 0px 0px;
}

#u284,#u270,#u277,#u251
{
  width: 200px;
  margin-top: 2px;
}

#u252
{
  width: 200px;
  min-height: 17px;
  padding-bottom: 42px;
  margin-right: -10000px;
}

#u247.MuseMenuActive,#u285.MuseMenuActive,#u271.MuseMenuActive,#u278.MuseMenuActive,#u252.MuseMenuActive
{
  margin: 0px -10000px 0px 0px;
}

#u253-4
{
  width: 200px;
  min-height: 17px;
  margin-right: -10000px;
  top: 21px;
}

#u278.MuseMenuActive #u280-4,#u252:hover #u253-4
{
  padding-top: 0px;
  padding-bottom: 0px;
  min-height: 17px;
  margin: 0px -10000px 0px 0px;
}

#u252.MuseMenuActive #u253-4
{
  padding-top: 0px;
  padding-bottom: 0px;
  min-height: 17px;
  margin: 0px -10000px 0px 0px;
}

#u333-6
{
  z-index: 33;
  width: 450px;
  min-height: 80px;
  background-color: rgba(0, 0, 0, 0.5);
  line-height: 22px;
  text-align: center;
  font-size: 18px;
  color: #FFFFFF;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  position: relative;
  margin-right: -10000px;
  margin-top: 80px;
  left: 270px;
  padding-left:20px;
  padding-top:30px;
  padding-bottom:20px;
}

#u333-2
{
  padding-top: 30px;
}

#late
{
  font-size:14px;
  font-weight:300;
}

#page .verticalspacer
{
  clear: both;
}

.button
{
  font-size: 18px;
  letter-spacing: 1.5px;
  text-align: center;
  color: white;
  background-color: black;
  padding: 10px;
  position: center;
  border-radius: 0px;
  border: 1px solid #fefefe;
}

.button:hover
{
  color:#6ebbff;
  font-weight:500;
}

#schedule .date {
  width: 600px;
  margin: auto;
}

#schedule td a {
  color: white;
}

#schedule a:hover {
  color: #7976b7;
}

.table {
  border-collapse: separate;
  border-spacing: 0 1em;
  margin-bottom: 0px;
}

.table-borderless tbody tr td {
  border: none;
  font-size: 16px;
  font-weight: 300;
  text-align: left;
  padding: 0px 30px;
  font-size:16px;
}

#u333-2 {
  font-weight:300;
  font-style:italic;
  font-size:14px;
  margin-top:-20px;
  text-align:left;
  margin-left:25px;
}

#address {
  padding-top:10px;
  font-weight:300;
  font-size:16px;
}
